body {
    background-color: rgb(66, 67, 68);
}
form {
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 35%;
    text-align: center;
    border: 1px solid black;
    border-radius: 2vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}